@import "tailwindcss";

:root {
  --background: #F6F7F9;
  --foreground: #000000;
  --container-padding: 15px;
  --font-montserrat: 'Montserrat';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F7F9;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat';

}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  box-sizing: border-box;
}