@import "tailwindcss";

:root {
  --background: #F6F7F9;
  --foreground: #000000;
  --container-padding: 15px;
  --font-montserrat: 'Montserrat';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F7F9;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat';

}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  box-sizing: border-box;
}

.custom-radio .p-radiobutton-box {
  border-width: 2px;
  border-radius: 50%;
}

.custom-radio.p-highlight .p-radiobutton-box {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.custom-checkbox .p-checkbox-box {
  border: 2px solid #9ca3af;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  transition: all 0.2s;
}

.custom-checkbox.p-highlight .p-checkbox-box {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.custom-checkbox .p-checkbox-icon {
  color: white;
  font-size: 12px;
}